<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>component1.component.html page</title>
</head>

<body>

    <p>component1 works fine!</p>

    <h2>This is "component1.component.html" Page</h2>
    <p>Lets do some work here</p>

    <p>
        <dt><u>Component</u></dt>
        <dd>Components are the fundamental building block for creating applications in Angular.<br> By leveraging
            component architecture, Angular aims to provide structure for organizing your project.</dd>
    </p>

</body>

</html>